In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("iris.csv")

In [3]:
df.tail()

     sepalLength  sepalWidth  petalLength  petalWidth    species
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

In [4]:
df["species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [5]:
df["species"]= df["species"].map({"setosa": 0, "versicolor": 1, "virginica": 2})

In [6]:
X= df.iloc[ : , 0:4]
y= df.iloc[ : , -1]

In [7]:
X

     sepalLength  sepalWidth  petalLength  petalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [8]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.20, random_state= 21)

In [11]:
from sklearn.multiclass import OneVsOneClassifier

from sklearn.linear_model import LogisticRegression

log_reg= LogisticRegression()

ovo= OneVsOneClassifier(log_reg)

ovo.fit(X_train, y_train)

#y_pred= ovo.predict(X_test)

ovo.score(X_test, y_test)

0.9333333333333333

In [12]:
import pickle

In [13]:
pickle.dump(ovo, open("iris.pkl", "wb"))

In [14]:
ovo.predict(np.array([[5.1, 3.5, 1.4, 0.2]]))

C:\Users\samar\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but OneVsOneClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [15]:
ovo.predict(np.array([[5.9, 3.0, 5.1, 1.8]]))

C:\Users\samar\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but OneVsOneClassifier was fitted with feature names
  warnings.warn(

array([2], dtype=int64)